/**
 *  AcademyList.html
 */
.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

/**
 *  AcademyDetail.html
 */
.tag {
  background-color: #ccc;
  color: #333;
  border-radius: 2rem;
  padding: 0.25rem 0.5rem;
  font-size: 14px;
}

.title-detail {
  margin-left: 10px;
  font-size: 20px;
}

/* .reply-content-wrapper > .reply-meta > .reply-regdate::before {
  content: 'ã†';
} */

.reply-content-wrapper:not(:last-child) {
  padding-bottom: 15px;
  border-bottom: 1px solid #888;
}

.reply-content-wrapper:not(:first-child) {
  padding-top: 15px;
}

.reply-content-wrapper > .reply-content > p {
  margin: 0px;
}

.reply-input-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

/**
 *  AcademyWrite.html
 */
.tab-content > .tab-pane > div {
  margin-bottom: 5px;
}

.tab-content > .tab-pane > div:last-child {
  margin-bottom: 0;
}

/**
 *  AcademyEdit.html
 */
.raid-edit {
  opacity: 0.4;
}